CompanyComplexOOPExample
 - src/
   - main
     - Application(Class + static main())
   - co
     - Company  
   - co.departments
     - CompanyHRDepartment
     - CompanyITDepartment
   - co.jobs
     - DeveloperInterface
     - TesterInterface
   - tests
     - SimpleTest(Class)  
