package main;

import domain.Price;
import domain.Product;
import domain.ProductFactory;

public class Application {

	public static void main(String[] args) {

		
		Product p = ProductFactory.getProduct("Stas", new Price(10, "dfdf"));
		System.out.println(p);
		
	//	Product r = new Product(11, "rr", new Price(10, "df"));
		//r.setPrice(new Price(10,"df"));
		//System.out.println(r);
	}

}

package domain;

public class Product {
    
	private int id;
	private String name;
	private Price price;

	public Price getPrice() {
		return price;
	}

	public void setPrice(Price price) {
		this.price = price;
	}

	public Product(int id, String name, Price price) {
		super();
		this.id = id;
		this.name = name;
		this.price = price;
	}

	public int getId() {
		return id;
	}

	public void setId(int id) {
		this.id = id;
	}

	public String getName() {
		return name;
	}

	public void setName(String name) {
		this.name = name;
	}

	@Override
	public String toString() {
		return "Product [id=" + id + ", name=" + name + ", price=" + price + "]";
	}

	

}

